<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <style>
    header {
      display: flex; 
      justify-content: space-between ; 
    }
  </style>
  
  <body>
    <header>
      <h1>Music app</h1>
      <% method_url = logged_in? ? session_url : new_session_url %>
      <% method= logged_in? ? 'DELETE' : 'GET' %>
      <% message= logged_in? ? 'Log out' : 'Log in' %>

      <form action="<%= method_url %>" method='<%= 'POST'%>'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <input type="hidden" name='_method' value=<%= method %>>
          <input type="submit" value="<%= message %>">
      </form>

    </header>

  <%= yield %>
  
  </body>
</html>
